Repository ML-KULeuven/socceraction, pull requests merged in 2023-10, with the labels that each got.

#586 Removal of "is" for boolean check in "_fix_unintentional_ball_touches"
  socceraction/spadl/opta.py
Labels: bug

#598 Update RTD config
  .readthedocs.yml
Labels: ci

#600 Support StatsBomb high fidelity coordinates
  socceraction/spadl/statsbomb.py
  tests/spadl/test_statsbomb.py
Labels: enhancement

#603 Use categorical dtype for categorical features
  socceraction/vaep/features.py
  tests/vaep/test_features.py
Labels: breaking

#602 High fidelity StatsBomb timestamps
  socceraction/data/statsbomb/loader.py
  socceraction/data/statsbomb/schema.py
  socceraction/spadl/statsbomb.py
  tests/spadl/test_statsbomb.py
Labels: enhancement

#607 Update StatsBomb IDs in tests
  tests/spadl/test_statsbomb.py
Labels: testing
