Repository ML-KULeuven/socceraction, pull requests merged in 2024-06, with the labels that each got.

#741 [Opta] Apply _fix_unintentional_ball_touches only to passes
  socceraction/spadl/opta.py
  tests/spadl/test_opta.py
Labels: bug

#743 Support Python 3.12
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  docs/documentation/install.rst
  noxfile.py
  poetry.lock
  pyproject.toml
Labels: dependencies, ci

#744 [Opta] Support feeds with accented characters
  socceraction/data/opta/loader.py
  tests/data/test_load_opta.py
Labels: enhancement

#746 [VAEP] Constrain game states to periods
  docs/documentation/valuing_actions/vaep.rst
  socceraction/vaep/features.py
  tests/datasets/download.py
  tests/datasets/spadl/atomic_spadl.json
  tests/datasets/spadl/spadl.json
  tests/vaep/test_features.py
Labels: bug

#747 Update xgboost arguments
  socceraction/vaep/base.py
Labels: bug, dependencies

#748 [VAEP] Support extra time in "time" feature
  socceraction/vaep/features.py
  tests/vaep/test_features.py
Labels: bug

#718 [VAEP] Use iloc to select last value in the dataframe
  socceraction/vaep/labels.py
  tests/vaep/test_labels.py
Labels: bug

#750 [Atomic-VAEP] use iloc to select last value in the dataframe
  socceraction/atomic/vaep/labels.py
  tests/atomic/test_atomic_labels.py
Labels: bug
